.dropdown {
  width: 100%;
  overflow: scroll;
  position: fixed;
  z-index: 1;
  min-height: 210px;
  max-height: 210px;
  background-color: $color__white;
  top: 45%;
  margin-bottom: 5%;
  & .card,
  .home__card,
  .card-deck {
    width: 100vh;
    display: flex;
    min-height: 100%;
    max-height: 100%;
    margin-left: 1em;
    border: none;
  }
  & .home__card--img {
    float: left;
    min-width: 125px;
    max-width: 125px;
    min-height: 125px;
    max-height: 125px;
    margin-top: 2em;
    margin-right: 5%;
    border-radius: 0px;
  }
  & .card-body {
    padding: 0;
  }
  & .card-title {
    text-align: left;
    margin-left: 14%;
    margin-top: 2em;
  }
  & .card__price {
    text-align: left;
    margin-left: 14%;
  }
  & .card__btn {
    @include secondary__link;
    text-align: left;
    margin-left: -1em;
  }
}
ul {
  list-style: none;
}

@media (max-width: 767px) {
  .dropdown {
    top: 35%;
  }
}
