.footer {
  background-color: $color__grey;
  color: $color__beige;
  width: 100%;
  text-align: center;
  padding: 1.5em;
  margin-top: 5%;
}
.footer .footer-left {
  text-align: left;
  width: 33%;
  margin-top: 1.5em;
  & h3 {
    color: $color__beige;
    text-align: center;
  }
}

.footer .icons {
  margin-top: 25px;
  & a {
    display: inline-block;
    color: $color__main;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
    @include transition;
    &:hover {
      color: $color__white;
      text-decoration: none;
      opacity: 1;
    }
  }
}

.footer .footer-center {
  width: 30%;
  margin-top: 1.5em;
  & .footer__logo {
    width: 35%;
    margin-bottom: 5px;
  }
  & p {
    display: block;
    margin: 0;
    margin-top: 5px;
  }
}

.footer .footer-right {
  width: 35%;
  margin-top: 0.5em;
  & .footer__menu {
    list-style: none;
    margin: 20px 0 12px;
    padding: 0;
    & a {
      color: $color__white;
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-weight: 500;
      opacity: 0.7;
      @include transition;
      &:hover {
        color: $color__main;
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}
@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
