.search {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  & .form-control {
    border-radius: 0;
  }
}
.search__icon {
  color: $color__beige;
}
.search__icon--box {
  background-color: $color__main;
  padding: 0.3em;
}
.form__container {
  width: 50em;
  background-color: $color__white;
  color: $color__black;
  margin: 32px auto 37px;
  margin-top: 5%;
  box-shadow: $box__shadow;
}

.form__input {
  width: 100%;
}
.form__error {
  color: $error;
}
.form__label {
  width: 90%;
  color: $color__grey;
  font-size: 13px;
  @include transition;
}
.form__control {
  width: 90%;
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid $color__grey;
  opacity: 0.5;
  @include transition;
  &:focus {
    outline: none;
    opacity: 1;
  }
  &:hover {
    border-bottom: 1px solid $color__main;
  }
}
.form__inline {
  width: 100%;
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 1px solid $color__grey;
  opacity: 0.5;
  @include transition;
  &:focus {
    outline: none;
    opacity: 1;
  }
  &:hover {
    border-bottom: 1px solid $color__main;
  }
}
.form__col--1 {
  width: 50%;
  float: left;
  background-color: $color__grey;
  text-align: center;
}
.form__col--2 {
  margin: 0 auto;
}
.form__info {
  font-size: 1em;
  color: $color__white;
}
.form__btn {
  margin-bottom: 0.5em;
  float: right;
  margin-right: 10%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 595px) {
  .search {
    width: 100%;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form__container {
    width: 100%;
    & .form__col--1 {
      width: 100%;
      flex: 100%;
    }
    & .form__col--2 {
      width: 100%;
    }
    & .form__control {
      width: 100%;
    }
    & .form__btn {
      margin-right: 0;
    }
  }
}
@media (max-width: 767px) {
  .search {
    width: 100%;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form__container {
    width: 100%;
    & .form__col--1 {
      width: 100%;
    }
    & .form__col--2 {
      width: 100%;
      margin: 0 auto;
    }
    & .form__control {
      width: 100%;
    }
    & .form__btn {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 992px) {
  .row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .form__container {
    width: 100%;
    & .form__col--1 {
      width: 100%;
    }
    & .form__col--2 {
      width: 100%;
    }
    & .form__control {
      width: 100%;
    }
    & .form__btn {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 1024px) {
  .row {
    width: 100%;
  }
}
