.icon {
  width: 1.2em;
  margin-right: 0.5em;
}
.form__icon {
  width: 30%;
  color: $color__white;
  margin-bottom: 10%;
  margin-top: 20%;
}

.success__icon {
  width: 8%;
  color: $color__grey;
  margin-bottom: 1em;
  margin-top: 1em;
}
.icon__spec {
  width: 2em;
  margin-bottom: 0.5em;
  color: $color__main;
}
