.navbar__logo {
  width: 20%;
}
.navbar {
  width: 100%;
  background-color: $linear__white;
}
.navbar__link {
  color: $color__grey;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar__link:hover {
  color: $color__grey;
  opacity: 0.7;
}
.navigation__icon {
  width: 1.3em;
}
