@import url("https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap");
a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Proza Libre";
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
}

.main__title {
  color: #b1b1b1;
  margin-top: 1em;
}

.main__title--card {
  font-size: 1.5em;
  color: #f1aa1e;
}

h2 {
  font-family: "Proza Libre";
  color: #f1aa1e;
  font-weight: 900;
  text-align: center;
}

.sub__title {
  color: #f1aa1e;
  margin-top: 3em;
}

h3 {
  font-family: "Proza Libre";
  color: #293338;
  font-weight: 100;
}

.dropdown {
  width: 100%;
  overflow: scroll;
  position: fixed;
  z-index: 1;
  min-height: 210px;
  max-height: 210px;
  background-color: #ffffff;
  top: 45%;
  margin-bottom: 5%;
}

.dropdown .card,
.dropdown .home__card,
.dropdown .card-deck {
  width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  max-height: 100%;
  margin-left: 1em;
  border: none;
}

.dropdown .home__card--img {
  float: left;
  min-width: 125px;
  max-width: 125px;
  min-height: 125px;
  max-height: 125px;
  margin-top: 2em;
  margin-right: 5%;
  border-radius: 0px;
}

.dropdown .card-body {
  padding: 0;
}

.dropdown .card-title {
  text-align: left;
  margin-left: 14%;
  margin-top: 2em;
}

.dropdown .card__price {
  text-align: left;
  margin-left: 14%;
}

.dropdown .card__btn {
  background-color: #f1aa1e;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  text-align: left;
  margin-left: -1em;
}

.dropdown .card__btn:hover {
  color: #ffffff;
  opacity: 0.7;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 767px) {
  .dropdown {
    top: 35%;
  }
}

.footer {
  background-color: #293338;
  color: #f4f5f4;
  width: 100%;
  text-align: center;
  padding: 1.5em;
  margin-top: 5%;
}

.footer .footer-left {
  text-align: left;
  width: 33%;
  margin-top: 1.5em;
}

.footer .footer-left h3 {
  color: #f4f5f4;
  text-align: center;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  color: #f1aa1e;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.footer .icons a:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}

.footer .footer-center {
  width: 30%;
  margin-top: 1.5em;
}

.footer .footer-center .footer__logo {
  width: 35%;
  margin-bottom: 5px;
}

.footer .footer-center p {
  display: block;
  margin: 0;
  margin-top: 5px;
}

.footer .footer-right {
  width: 35%;
  margin-top: 0.5em;
}

.footer .footer-right .footer__menu {
  list-style: none;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-right .footer__menu a {
  color: #ffffff;
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.footer .footer-right .footer__menu a:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

.search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
}

.search .form-control {
  border-radius: 0;
}

.search__icon {
  color: #f4f5f4;
}

.search__icon--box {
  background-color: #f1aa1e;
  padding: 0.3em;
}

.btn__main {
  background-color: #f1aa1e;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  float: right;
}

.btn__main:hover {
  color: #ffffff;
  opacity: 0.7;
  text-decoration: none;
}

.form__container {
  width: 50em;
  background-color: #ffffff;
  color: #000000;
  margin: 32px auto 37px;
  margin-top: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.form__input {
  width: 100%;
}

.form__error {
  color: #d8000c;
}

.form__label {
  width: 90%;
  color: #293338;
  font-size: 13px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__control {
  width: 95%;
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid #293338;
  opacity: 0.5;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__control:focus {
  outline: none;
  opacity: 1;
}

.form__control:hover {
  border-bottom: 1px solid #f1aa1e;
}

.form__inline {
  width: 90%;
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 1px solid #293338;
  opacity: 0.5;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__inline:focus {
  outline: none;
  opacity: 1;
}

.form__inline:hover {
  border-bottom: 1px solid #f1aa1e;
}

.radio__check {
  margin-right: 0.5em;
}

.radio__label {
  display: block;
  color: #293338;
  font-size: 13px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.radio__1 {
  font-size: 13px;
  margin-right: 1em;
  display: inline;
}

.radio__2 {
  margin-left: 0;
  font-size: 13px;
  display: inline;
}

.form__col--1 {
  width: 50%;
  float: left;
  background-color: #293338;
  text-align: center;
}

.form__col--2 {
  margin: 0 auto;
}

.form__info {
  font-size: 1em;
  color: #ffffff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 595px) {
  .search {
    width: 100%;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__container {
    width: 100%;
  }
  .form__container .form__col--1 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .form__container .form__col--2 {
    width: 100%;
  }
  .form__container .form__control {
    width: 100%;
  }
  .form__container .form__btn {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .search {
    width: 100%;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__container {
    width: 100%;
  }
  .form__container .form__col--1 {
    width: 100%;
  }
  .form__container .form__col--2 {
    width: 100%;
    margin: 0 auto;
  }
  .form__container .form__control {
    width: 100%;
  }
  .form__container .form__btn {
    margin-right: 0;
  }
}

@media all and (max-width: 992px) {
  .row {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__container {
    width: 100%;
  }
  .form__container .form__col--1 {
    width: 100%;
  }
  .form__container .form__col--2 {
    width: 100%;
  }
  .form__container .form__control {
    width: 100%;
  }
  .form__container .form__btn {
    margin-right: 0;
  }
}

@media all and (max-width: 1024px) {
  .row {
    width: 100%;
  }
}

body {
  width: 100%;
  height: 100%;
  min-height: 110vh;
  background-color: #f4f5f4;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icon {
  width: 1.2em;
  margin-right: 0.5em;
}

.form__icon {
  width: 30%;
  color: #ffffff;
  margin-bottom: 10%;
  margin-top: 20%;
}

.success__icon {
  width: 8%;
  color: #293338;
  margin-bottom: 1em;
  margin-top: 1em;
}

.icon__spec {
  width: 2em;
  margin-bottom: 0.5em;
  color: #f1aa1e;
}

@media (min-width: 480px) {
  .form__icon {
    width: 8%;
    margin: 2em;
  }
}

@media (min-width: 595px) {
  .form__icon {
    width: 10%;
    margin: 2em;
  }
}

@media (min-width: 767px) {
  .form__icon {
    width: 10%;
    margin: 2em;
  }
}

@media (max-width: 812px) {
  .form__icon {
    width: 10%;
    margin: 2em;
  }
  .specific__row--icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .specific__row--icons .form__icon {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 1em;
  }
}

@media (min-width: 993px) {
  .form__icon {
    width: 30%;
    margin: 20%;
  }
}

.navbar__logo {
  width: 15%;
  margin: 0;
  padding: 0;
}

.navbar__logo img {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #f4f5f4;
}

.navbar__link {
  color: #293338;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.navbar__link:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

.navbar__header {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../../images/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

@media (max-width: 1024px) {
  .search {
    width: 100%;
  }
  .navbar__link {
    text-align: center;
  }
}

.spinner__box {
  min-width: 100%;
  min-height: 100vh;
}

.spinner__box .spinner__box--animation {
  margin: 0 auto;
  margin-top: 25%;
  border: 5px solid #f1aa1e;
  border-top: 5px solid #f4f5f4;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.admin {
  width: 100%;
  margin-top: 5%;
  min-height: 55vh;
}

.admin h1 {
  color: #f1aa1e;
}

.admin h2 {
  color: #293338;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.sidenav {
  background-color: transparent;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 27%;
  left: 1em;
  padding-top: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sidenav a {
  width: 90%;
  padding: 0.2em;
  margin-bottom: 0.5em;
}

.sidenav a:hover {
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  color: #f1aa1e;
}

.sidenav a:hover:hover {
  opacity: 0.8;
  text-decoration: none;
}

.admin__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
  padding: 1em;
}

.admin__col {
  width: 100%;
  color: #293338;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 1em;
  padding: 1em;
}

.admin__col a {
  color: #293338;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.admin__col ul {
  padding: 0;
}

.admin__col li {
  padding: 0;
}

.admin__log {
  width: 100%;
  background-color: #ffffff;
  color: #293338;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  text-align: left;
  margin: 1em;
  padding: 1em;
}

.admin__icon {
  width: 10%;
  float: left;
  padding: 0;
  margin: 0 auto;
  margin-right: 2em;
}

.admin__login {
  font-size: 1.25rem;
  margin-top: 1.5em;
  margin-bottom: -0.01em;
}

.admin__email {
  font-size: 1.25rem;
  margin-left: 3em;
}

.admin__error {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: #293338;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
}

.messages {
  width: 90%;
  background-color: #f4f5f4;
  border-radius: 5px;
  padding: 30px 40px 5px;
  margin: 1em;
}

.allEnquiries {
  width: 100%;
  background-color: #f4f5f4;
  border-radius: 5px;
  padding: 30px 40px 5px;
  margin: 1em;
}

.allEnquiries ul {
  margin: 0;
  padding: 0;
}

.allEnquiries li {
  margin: 0;
  padding: 0;
}

.enquiry__name {
  margin-top: 1em;
}

.enquiry__hotel {
  width: 80%;
  margin-bottom: 10%;
}

.box {
  border: 1px solid #000000;
}

.wrapper {
  padding-bottom: 2.5rem;
  min-height: 100vh;
}

.home {
  width: 100%;
}

.home h1 {
  text-align: center;
}

.home__content {
  width: 80%;
  z-index: 1;
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.InfoBoxes__row {
  margin-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.InfoBoxes {
  width: 15rem;
  min-width: 15rem;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  color: #f1aa1e;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.InfoBoxes__img {
  width: 100%;
  max-height: 100%;
}

.InfoBoxes__link {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  text-transform: uppercase;
}

.InfoBoxes__link:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

@media (min-width: 200px) and (max-width: 450px) {
  .wrapper {
    min-height: 170vh;
  }
  .InfoBoxes__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .InfoBoxes {
    width: 100%;
  }
  .home__content {
    top: 20%;
  }
}

@media (min-width: 451px) and (max-width: 599px) {
  .wrapper {
    min-height: 200vh;
  }
  .InfoBoxes__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .InfoBoxes {
    width: 100%;
  }
  .home__content {
    top: 20%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .wrapper {
    min-height: 210vh;
  }
  .InfoBoxes__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .InfoBoxes {
    width: 80%;
  }
  .home__content {
    top: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .wrapper {
    min-height: 130vh;
  }
  .InfoBoxes__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .InfoBoxes {
    width: 80%;
  }
  .home__content {
    top: 20%;
  }
}

.hotels {
  padding-bottom: 10%;
  margin-top: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.img-details {
  width: 50%;
}

.hotel__card {
  color: #000000;
  margin: 1em;
  width: 100%;
  min-height: 450px;
  max-height: 450px;
  text-decoration: none;
}

.hotel__card .hotel__card--img {
  min-width: 30vh;
  min-height: 30vh;
  max-height: 30vh;
}

.hotel__card .hotel__card--title {
  margin-top: 2em;
}

.hotel__card .hotel__card--price {
  margin: 0;
}

.card__price--color {
  color: #f1aa1e;
}

.hotel__card--ul {
  padding: 0;
}

@media (max-width: 767px) {
  .hotels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotels .hotel__card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

.specific {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.specific .specific__col--1 {
  width: 50%;
  float: left;
  margin: 0 auto;
}

.specific img {
  margin-top: 30%;
  width: 55vh;
  max-height: 50vh;
}

.specific .specific__card--details {
  margin: 0 auto;
  margin-left: 7em;
  padding: 1.5em;
  min-width: 47%;
  max-width: 47%;
}

.specific .main__title--card {
  color: #f1aa1e;
  border-bottom: 1px solid #b1b1b1;
}

.specific .specific--ul {
  max-width: 40%;
  list-style: none;
  margin: 0% !important;
  padding: 0% !important;
}

.specific .specific--ul li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.specific .specific--ul li a {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.specific .specific--ul li a:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.specific .card__link {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.specific .card__link:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.specific__row--icons {
  border-bottom: 1px solid #b1b1b1;
  margin-top: 3em;
  margin-bottom: 1em;
}

@media (max-width: 999px) {
  .specific {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .specific .specific__col--1 {
    width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .specific img {
    margin-top: 10%;
    width: 100%;
  }
  .specific .specific__card--details {
    margin: 0 auto;
    padding: 1.5em;
    min-width: 100%;
    max-width: 100%;
  }
}

.success {
  width: 100%;
  min-height: 55vh;
  background-color: transparent;
  color: #293338;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 2.5em;
  text-align: center;
}

.success__link {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.success__link:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.toggle {
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1em;
  color: #293338;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.toggle ul {
  margin: 0;
  padding: 0;
}

.toggle li {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */