@import url("https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap");
a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Proza Libre";
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
}

.main__title {
  color: #b1b1b1;
  margin-top: 1em;
}

.main__title--card {
  font-size: 1.5em;
  color: #f1aa1e;
}

h2 {
  font-family: "Proza Libre";
  color: #f4f5f4;
  font-weight: 900;
  text-align: center;
}

.sub__title {
  color: #b1b1b1;
  text-align: center;
  margin-top: -2.5em;
}

.footer__content {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #293338;
  color: #f4f5f4;
}

.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/
.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}

/* footer right*/
.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer__logo {
  width: 35%;
}

.footer__menu {
  list-style: none;
  margin: 20px 0 12px;
  padding: 0;
}

.footer__menu a {
  color: #ffffff;
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.footer__menu a:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

.form__container {
  width: 50em;
  background-color: #ffffff;
  color: #000000;
  margin: 32px auto 37px;
  margin-top: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.form__group {
  margin-left: 5%;
}

.form__input {
  width: 100%;
}

.form__error {
  color: #d8000c;
}

.form__label {
  width: 90%;
  color: #293338;
  font-size: 13px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__control {
  width: 100%;
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #293338;
  opacity: 0.5;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__control:focus {
  outline: none;
  opacity: 1;
}

.form__control:hover {
  border-bottom: 1px solid #f1aa1e;
}

.form__col--1 {
  background-color: #293338;
  text-align: center;
}

.form__info {
  font-size: 1em;
  color: #ffffff;
}

.form__btn {
  margin-bottom: 0.5em;
  float: right;
  margin-right: 17%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 110vh;
  background-color: #f4f5f4;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icon {
  width: 1.2em;
  margin-right: 0.5em;
}

.form__icon {
  width: 30%;
  color: #ffffff;
  margin-bottom: 10%;
  margin-top: 20%;
}

.navbar__logo {
  width: 20%;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #f4f5f4;
}

.navbar__link {
  color: #293338;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.navbar__link:hover {
  color: #f1aa1e;
  text-decoration: none;
  opacity: 1;
}

.navbar__header {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../../images/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
}

.wrapper {
  padding-bottom: 2.5rem;
  min-height: 150vh;
}

.home {
  width: 100%;
}

.home h1 {
  text-align: center;
}

.home__content {
  width: 80%;
  z-index: 1;
  position: absolute;
  top: 22%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner {
  color: #ffffff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search {
  width: 150vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.search .form-control {
  border-radius: 0;
}

.search__icon {
  color: #f4f5f4;
}

.search__icon--box {
  background-color: #f1aa1e;
  padding: 0.3em;
}

.InfoBoxes {
  width: 18rem;
  min-width: 15rem;
  text-align: center;
  color: #f1aa1e;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  margin: 0.5em;
}

.InfoBoxes__img {
  width: 100%;
  max-height: 100%;
}

.InfoBoxes__link {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  text-transform: uppercase;
}

.InfoBoxes__link:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.infoSection__container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #293338;
  color: #f4f5f4;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.infoSection__col {
  margin: 0;
  padding: 0;
}

.infoSection__img {
  width: 100%;
  margin: 0;
}

.infoSection__link {
  background-color: #f1aa1e;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  margin-top: 5%;
}

.infoSection__link:hover {
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
}

.dropdown {
  width: 150vh;
  overflow: scroll;
  min-height: 210px;
  max-height: 210px;
  background-color: #ffffff;
  top: -5%;
  margin-bottom: 5%;
}

.dropdown .card,
.dropdown .hotel__card,
.dropdown .card-deck {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  max-height: 100%;
  margin-left: 1em;
  border: none;
}

.dropdown .card:hover,
.dropdown .hotel__card:hover,
.dropdown .card-deck:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.dropdown .hotel__card--img {
  float: left;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.dropdown .card-body {
  padding: 0;
}

.dropdown .card-title {
  text-align: left;
  margin-left: 18%;
  margin-top: 5%;
}

.hotels {
  padding-bottom: 10%;
}

.img-details {
  width: 50%;
}

.hotel__card {
  color: #000000;
  margin: 1em;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  text-decoration: none;
}

.hotel__card :hover {
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.hotel__card :hover:hover {
  opacity: 0.8;
  text-decoration: none;
}

.hotel__card .home__card--img {
  min-width: 25vh;
  min-height: 25vh;
  max-height: 25vh;
}

.card__price {
  color: #f1aa1e;
}

.specific__card {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.specific__card img {
  width: 100%;
}

.specific__card.specific__card--details {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.specific__card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.specific__card li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.specific__card li a {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.specific__card li a:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.btn__main {
  background-color: #f1aa1e;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  margin-left: auto;
}

.btn__main:hover {
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */