@import url("https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap");
h1 {
  font-family: "Proza Libre";
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
}

.main__title {
  color: #b1b1b1;
  margin-top: 1em;
}

h2 {
  font-family: "Proza Libre";
  font-weight: 900;
  color: #f4f5f4;
  text-align: center;
}

.footer__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #293338;
  color: #f4f5f4;
}

.footer__content a {
  color: #f4f5f4;
}

.footer__sub {
  background-color: #f1aa1e;
  color: #293338;
  padding: 0.5em;
}

.form__container {
  width: 50em;
  background-color: #ffffff;
  color: #000000;
  margin: 32px auto 37px;
  margin-top: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.form__group {
  margin-left: 5%;
}

.form__input {
  width: 100%;
}

.form__error {
  color: #d8000c;
}

.form__label {
  width: 90%;
  color: #293338;
  font-size: 13px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__control {
  width: 100%;
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #293338;
  opacity: 0.5;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.form__control:focus {
  outline: none;
  opacity: 1;
}

.form__control:hover {
  border-bottom: 1px solid #f1aa1e;
}

.form__col--1 {
  background-color: #293338;
  text-align: center;
}

.form__info {
  font-size: 1em;
  color: #ffffff;
}

.form__btn {
  margin-bottom: 0.5em;
  float: right;
  margin-right: 17%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 110vh;
  background-color: #f4f5f4;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icon {
  width: 1.2em;
  margin-right: 0.5em;
}

.form__icon {
  width: 30%;
  color: #ffffff;
  margin-bottom: 10%;
  margin-top: 20%;
}

.navbar__logo {
  width: 20%;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #f4f5f4;
}

.navbar__link {
  color: #f1aa1e;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  opacity: 1;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.navbar__link:hover {
  color: #f1aa1e;
  opacity: 0.7;
}

.navbar__header {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../../images/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
}

.wrapper {
  padding-bottom: 2.5rem;
  min-height: 185vh;
}

.home {
  width: 100%;
}

.home__content {
  width: 80%;
  z-index: 1;
  position: absolute;
  top: 22%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner {
  color: #ffffff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search {
  padding: 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 15%;
}

.search__icon {
  color: #f4f5f4;
}

.search__icon--box {
  background-color: #f1aa1e;
  padding: 0.3em;
}

.InfoBoxes {
  width: 18rem;
  min-width: 15rem;
  text-align: center;
  color: #f1aa1e;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  margin: 0.5em;
}

.InfoBoxes__img {
  width: 100%;
  max-height: 100%;
}

.InfoBoxes__link {
  color: #f1aa1e;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  text-transform: uppercase;
}

.InfoBoxes__link:hover {
  color: #f1aa1e;
  opacity: 0.7;
  text-decoration: underline;
}

.infoSection__container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #293338;
  color: #f4f5f4;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.infoSection__col {
  margin: 0;
  padding: 0;
}

.infoSection__img {
  width: 100%;
  margin: 0;
}

.infoSection__link {
  background-color: #f1aa1e;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  margin-top: 5%;
}

.infoSection__link:hover {
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
}

.hotels {
  padding-bottom: 30%;
}

.img-details {
  width: 50%;
}

.hotel__card {
  margin: 5%;
}

.hotel__card--img {
  width: 100%;
  height: 200px;
}

.card__price {
  color: #f1aa1e;
}

.btn__main {
  background-color: #f1aa1e;
  color: #ffffff;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  margin-left: auto;
}

.btn__main:hover {
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */