.navbar__header {
  width: 100%;
  height: 100vh;
  background-color: $color__grey;
  background-image: url(../../../images/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  text-align: center;
  box-shadow: 0 0 8px 8px rgb(255, 255, 255) inset;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  & text {
    text-align: center;
    margin-top: 0;
  }
}

.home__content {
  z-index: 1;
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.search {
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.search__icon {
  color: $color__beige;
}
.search__icon--box {
  background-color: $color__main;
  padding: 0.3em;
}
