.navbar__header {
  width: 100%;
  height: 85vh;
  background-image: url(../../../images/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: $box__shadow;
}
.home {
  width: 100%;
}
.home__content {
  width: 80%;
  z-index: 1;
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.search {
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.search__icon {
  color: $color__beige;
}
.search__icon--box {
  background-color: $color__main;
  padding: 0.3em;
}
.home__row {
  margin-top: 15%;
}
.InfoBoxes {
  min-width: 18rem;
  text-align: center;
  box-shadow: $box__shadow;
  margin: 0.5em;
}
.InfoBoxes__img {
  width: 100%;
  max-height: 100%;
}
.InfoBoxes__link {
  @include main__link;
  text-transform: uppercase;
}
.InfoBoxes__icon {
  color: $color__main;
  width: 2em;
}
.infoSection__container {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color__grey;
  color: $color__beige;
  box-shadow: $box__shadow;
  border-radius: 5px;
  margin-top: 20%;
  margin-bottom: 5%;
}
.infoSection__col {
  margin: 0;
  padding: 0;
}
.infoSection__img {
  width: 100%;
  margin: 0;
}
.infoSection__link {
  @include secondary__link;
}
