.hotels {
  padding-bottom: 30%;
}
.img-details {
  width: 50%;
}
.hotel__card {
  margin: 5%;
  width: 100%;
  min-height: 450px;
  max-height: 450px;
}
.hotel__card--img {
  min-width: 100%;
  min-height: 50%;
  max-height: 50%;
}
.card__price {
  color: $color__main;
}
