.hotels {
  padding-bottom: 10%;
}
.img-details {
  width: 50%;
}
.hotel__card {
  color: $color__black;
  margin: 1em;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  text-decoration: none;
  & :hover {
    @include hover;
  }
  & .home__card--img {
    min-width: 25vh;
    min-height: 25vh;
    max-height: 25vh;
  }
}

.card__price {
  color: $color__main;
}
