.specific {
  max-width: 100%;
  display: flex;
  display: inline-flex;
  align-items: center;
  height: 70vh;
  margin: 0 auto;
  background-color: $color__white;
  color: $color__black;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: $box__shadow;
  & .specific__col--1 {
    align-content: flex-start;
    align-self: center;
    margin: 1em;
  }
  & img {
    width: 100%;
  }
  & .specific__card--details {
    align-self: flex-end;
    margin: 1em;
    margin-top: 3em;
    top: -15%;
    min-width: 47%;
    max-width: 47%;
  }
  & .main__title--card {
    color: $color__main;
    @include line;
  }
  & .specific--ul {
    max-width: 40%;
    list-style: none;
    margin: 0% !important;
    padding: 0% !important;
  }
  & .specific--ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  & .specific--ul li a {
    @include main__link;
  }
  & .card__link {
    @include main__link;
  }
}
.specific__row--icons {
  @include line;
  margin-top: 3em;
  margin-bottom: 1em;
}
