.success {
  width: 100%;
  background-color: transparent;
  color: $color__grey;
  margin: 32px auto 37px;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
}
.success__link {
  @include main__link;
}
