$color__main: #f1aa1e;
$color__blue: #2661ac;
$color__grey: #293338;

$color__beige: #f4f5f4;
$color__white: #ffffff;

$transparent__box: "rgba(52, 52, 52, 0.8)";
$box__shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
$linear__white: linear-gradient(to bottom, $color__white, $color__beige);
