@import url("https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap");

//Font variables
$main-heading: "Proza Libre";
$fallback-font: "arial", sans-serif;

a {
  color: $color__black;
  &:hover {
    color: inherit;
  }
}
h1 {
  font-family: $main-heading;
  color: $color__white;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
}
h2 {
  font-family: $main-heading;
  color: $color__main;
  font-weight: 900;
  text-align: center;
}
h3 {
  font-family: $main-heading;
  color: $color__grey;
  font-weight: 100;
}
.main__title {
  color: $color__lightGrey;
  margin-top: 1em;
}
.sub__title {
  color: $color__main;
  margin-top: 3em;
}
